<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Desafio"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".CadastroActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="Cadastro Interessado"
           />
        <activity
            android:name=".FiltragemActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="filtragem"
            >
        </activity>
        <activity
            android:name=".TipoContaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="tipoconta"
            >
        </activity>
        <activity
            android:name=".EsqueceuSenhaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="esquecisenha"
            >
        </activity>
        <activity
            android:name=".RedefinirSenhaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="redefinirsenha"
           >
        </activity>
        <activity
            android:name=".DetalhesVagaActivity"
            android:exported="true"
            android:label="detalhesvaga"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="mainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait">
            >
        </activity>
        <activity
            android:name=".ActivityEdicaoVagas"
            android:exported="true"
            android:label="EdicaoVaga"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>